#gradient-text {
    background: linear-gradient(90deg,  #526BFF,  #0A0C1B, #00ff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: wave 3s linear infinite;
    /* animation: wave 1s ease-in-out infinite; */
  }
  


  
  